*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    line-height: 1.5;
}
img{
    width: 100%;
    display: block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
section{
    padding: 7em 0;
}

.split{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 1;
}
.split > * {
    flex-basis: 30%;
    min-width: 15em;
}
.spacing>*+*{
    margin-top: var(--spacer, 2rem);
}

.container{
    width: 85%;
    max-width: 65em; 
    /* 👆 65 * 16 gives the px value  */
    margin: 0 auto;
}

.btn{
    display: inline-block;
    /* 👆 by default a tags are inline so we have to change that  */
    text-decoration: none;
    font-weight: 700;
    color:var(--clr-text, #fff);
    text-transform: uppercase;
    font-size: 1.125em;
    border-radius: .25rem;
    padding: .5em 1.25em;
    background : var(--clr-accent,blue);
    transition :
        transform 250ms ease-in-out,
        opacity 250ms linear;
}
.btn:hover,
.btn:focus{
     transform: scale(1,1);
     opacity: .9;
}
.primary-title{
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    /* the smallest it can be / the size at which it grows / the largest it cn be  */
    line-height: 1;
    text-transform: uppercase;
}
.section-title{
   text-align: center;
   font-size : clamp(2.5rem, calc(5vw + 1rem), 4rem);
   line-height: 1;
   color: #17353d;
   margin-bottom: 5rem;
}
.hero{
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;
    }


@supports(background-blend-mode: multiply){
    .hero{
        background: 
            url(./img/shoe-3.png),
            radial-gradient(#444,#111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
    }
}
 
.featured{
    background: #eee;
}
.featured__items{
    display: block;
    position: relative;
    transform: scale(.85);
    transition: 
         transform 250ms ease-in-out;
    text-decoration: none;
    text-align: center;
    color: #333; 
    line-height: 1.2;
}
.featured__items:hover,
.featured__items:hover .featured__details,
.featured__items:focus,
.featured__items:focus .featured__details{
    transform: scale(1);
    opacity: 1;
}
.featured__items::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    border-radius: 50%;
    background-color: #2193b0;
    z-index: -1;
}
.featured__details{
    opacity : 0;
    transition: opacity 250ms linear;
}
.featured__items span{
    display: block;
    font-weight:  700;
    font-size: 2.5rem;
}
.product{
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer,purple));
    padding: 3em;
    border-radius: 1em;
    margin-bottom: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    } 
.product__title{
    font-size: 3rem;
    line-height: 1.1;
    color : #fff;
    text-shadow: 0 0 .2em rgba(#000, .2);
}
.product__img{
    margin: -5em 0 0 0;
    width: 60%;
}
@media (max-width : 49rem){
    .product{
        flex-wrap: wrap;
    }
    .product__img{
        width: 100%;
    }
}
.hero{
    --clr-accent : #faa700;
}
.shoe-red{
    --clr-inner: #faa700;
    --clr-outer: #e48d00;
    --clr-accent :#a1173c;
}
.shoe-white{
    --clr-inner : #fce4b3;
    --clr-outer:#eac886;
    --clr-accent : #2f4868;
}
.shoe-blue{
    --clr-inner :#6dd5ed;
    --clr-outer:#2193b0;
    --clr-accent :#008951;
}
